.bikes {
  text-align: center;
  background-color: $bg-accent;

  h2 {
    @include reset-text;
    margin-bottom: 51px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: $text-accent;

    @media screen and (max-width: $desktop-width - 1) {
      font-size: 24px;
      line-height: 41px;
      margin-bottom: 30px;
    }
  }
}

.bikes__list {
  min-height: 679px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: $desktop-width - 1) {
    min-height: fit-content;
  }

  @media screen and (max-width: $tablet-width - 1) {
    flex-direction: column;
    align-items: center;
  }
}

.bikes__item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  position: relative;
  width: 30.5%;
  margin-bottom: 20px;
  height: fit-content;

  @media screen and (max-width: $desktop-width - 1) {
    width: 270px;
    height: 354px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    margin-bottom: 42px;
  }

  &:first-of-type {
    z-index: 1;
    margin-top: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 44%;
      left: -63px;
      width: 175px;
      height: 175px;
      border: 28px solid $main;
      border-radius: 50%;
      z-index: -1;
      transform: translateY(-50%);

      @media screen and (max-width: $desktop-width - 1) {
        top: 75%;
        left: -37px;
        width: 127px;
        height: 127px;
        border: 19px solid $main;
      }

      @media screen and (max-width: $tablet-width - 1) {
        left: -26px;
      }
    }

    @media screen and (max-width: $desktop-width - 1) {
      margin-top: 0;
    }
  }

  &:nth-of-type(2) {
    align-self: flex-end;

    @media screen and (max-width: $desktop-width - 1) {
      align-self: flex-start;

      &::before,
      &::after {
        display: none;
      }
    }

    @media screen and (max-width: $tablet-width - 1) {
      align-self: center;
    }

    &::before {
      content: "";
      position: absolute;
      top: -19px;
      left: -20px;
      width: 48px;
      height: 49px;
      border: 9px solid $main;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 30px;
      right: -23px;
      width: 48px;
      height: 49px;
      border: 9px solid $main;
    }
  }

  &:nth-of-type(3) {
    &::before {
      content: "";
      position: absolute;
      top: -32px;
      right: -37px;
      width: 95px;
      height: 95px;
      border: 17px solid $main;
      border-radius: 50%;

      @media screen and (max-width: $desktop-width - 1) {
        top: -20px;
        right: -25px;
        width: 68px;
        height: 68px;
        border: 13px solid $main;
      }

      @media screen and (max-width: $tablet-width - 1) {
        right: -14px;
      }
    }
  }

  &:last-of-type:not(:nth-of-type(even)) {
    @media screen and (max-width: $desktop-width - 1) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  h3 {
    @include reset-text;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -1px;
    color: $text-main;
  }

  img {
    display: block;
    height: auto;
    margin-bottom: 20px;

    @media screen and (max-width: $desktop-width - 1) {
      height: 300px;
      border-radius: 6px;
    }
  }

  p {
    @include reset-text;
    display: none;
    position: absolute;
    width: 100%;
    min-height: 89.5%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    background: rgba(20, 21, 23, 0.3);
    border-radius: 9px;

    @media screen and (max-width: $desktop-width - 1) {
      min-height: 84.5%;
    }
  }
}

.bikes__item:hover p,
.bikes__item:focus p {
  display: flex;
}

.bikes__item:active p {
  background: rgba(20, 21, 23, 0.7);
}

.bikes__link {
  position: relative;
  width: 80%;
  min-height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);

  @media screen and (max-width: $desktop-width - 1) {
    min-height: 60px;
  }

  &:hover {
    color: white;
  }

  &:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10%;
    width: 15px;
    height: 15px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    transform: translateY(-50%) rotate(45deg);
  }
}
