.nav {
  grid-column: 1 / 3;

  @media screen and (max-width: $desktop-width - 1) {
    align-self: flex-start;
    z-index: 1;

    &.nav--no-js {
      width: 100%;
    }
  }
}

.nav--opened .nav__list {
  @media screen and (max-width: $desktop-width - 1) {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 134px;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 1;
  }
}

.nav--closed .nav__list {
  @media screen and (max-width: $desktop-width - 1) {
    position: absolute;
    max-height: 100%;
    top: 0;
    right: 0;
  }
}

.nav--no-js .nav__list {
  @media screen and (max-width: $desktop-width - 1) {
    position: relative;
    display: block;
    width: 100%;
    min-height: 568px;
    padding-top: 134px;
    background-color: $text-light;
  }
}

// open/close menu
.nav--closed .nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: $main;
  cursor: pointer;
  border: none;
  z-index: 5;

  &:hover,
  &:focus {
    background: $main-hover;
  }

  &:active {
    background: $main-active;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 25px;
    height: 3px;
    background-color: $text-main;
    box-shadow: 0 8px 0 0 $text-main,
      0 -8px 0 0 $text-main;
    transform: translateX(-50%);
  }

  &:hover::before,
  &:focus::before {
    width: 27px;
    height: 4px;
  }

  &:active::before {
    opacity: 0.6;
  }
}

.nav--opened .nav__toggle {
  position: absolute;
  top: 15px;
  right: 2%;
  width: 34px;
  height: 34px;
  background: transparent;
  cursor: pointer;
  border: none;
  transition: 300ms;

  &:hover {
    transform: rotate(90deg);
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 35px;
    height: 3px;
    background-color: rgba(20, 21, 23, 0.6);
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    opacity: 0.6;
  }
}

.nav__toggle {
  display: none;
  z-index: 2;

  @media screen and (max-width: $desktop-width - 1) {
    display: block;
  }
}

.nav--no-js .nav__toggle {
  display: none;
}
