.page-header {
  margin: 0 auto;
  min-width: 320px;
  min-height: 825px;
  max-width: $max-width;
  background-image: url("../img/bg-header-dt.jpg");
  background-size: cover, auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg;
  color: $text-light;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-header-dt@2x.jpg");
    background-size: cover, auto;
  }

  @media screen and (max-width: $desktop-width - 1) {
    min-height: auto;
    background: none;
  }
}

.page-header__title {
  min-height: 274px;
  width: 393px;
  margin-right: auto;
  margin-top: auto;

  h1 {
    @include reset-text;
    margin-bottom: 24px;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: -0.005em;

    @media screen and (max-width: $desktop-width - 1) {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 20px;
    }
  }

  p {
    @include reset-text;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: transparentize($text-light, 0.2);

    @media screen and (max-width: $desktop-width - 1) {
      width: 435px;
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
    }

    @media screen and (max-width: $tablet-width - 1) {
      width: 288px;
    }
  }

  @media screen and (max-width: $desktop-width - 1) {
    width: 100%;
    min-height: 340px;
    padding-top: 134px;
    margin: 0;
    text-align: center;
    background-color: grey;
    background-image: url("../img/bg-header-tab.jpg");
    background-size: cover, auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-header-tab@2x.jpg");
      background-size: cover, auto;
    }
  }

  @media screen and (max-width: $tablet-width - 1) {
    min-height: 390px;
    padding-top: 121px;
    background-image: url("../img/bg-header-mob.jpg");
    background-position: top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-header-mob@2x.jpg");
      background-position: top;
    }
  }
}

.page-header__form {
  min-height: 267px;
  width: 326px;
  margin-left: auto;
  margin-top: auto;

  @media screen and (max-width: $desktop-width - 1) {
    width: 321px;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding-left: 16px;
    padding-right: 17px;
  }
}

.page-header__logo {
  display: block;
  margin-bottom: 22px;

  img {
    margin-left: -12px;
  }

  @media screen and (max-width: $desktop-width - 1) {
    position: absolute;
    top: 23px;
    left: 25px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    left: 19px;
  }
}

.page-header__logo.page-header__logo--no-js {
  position: relative;
}
