$main: #0ad9c6;
$text-main: #1f1f1f;
$text-accent: #000000;
$text-light: #ffffff;
$bg: #131314;
$bg-accent: #f6f7f9;
$bg-menu: #f6f6f6;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
